*.pyc
*__pycache__
data/databases/iedb/mhc_ligand_full.csv
data/databases/uniprot/uniprot_sprot.fasta
data/databases/uniparc/uniparc-yourlist_M20200416A94466D2655679D1FD8953E075198DA854EB3ES.tab
data/databases/uniparc/uniparc-yourlist_M20200416A94466D2655679D1FD8953E075198DA854EB3ES.fasta
data/training_data/*
data/models/*
example_score_file_NetCleave.csv
example_fasta_file.fasta
example_fasta_file_5U64_1_NetCleave.csv
example_fasta_file_5U64_2_NetCleave.csv
example_fasta_file_NetCleave.png
mhc_ligand_reduced.csv